.envrc

# DVT IDE
.dvt/*
!.dvt/default.build
!.dvt/default.ls

# Avoid logs
*.log

# Avoid including the following directories
build/
sim/
vivado/
.Xil
.direnv

# Avoid including hardware vendor directories
hw/vendor/*
!*.vendor.hjson

# Exclude bender files
.bender/
hw/deps/

# Exclude vsim files
etch*
transcript

#Exclude reports
reports/*/*
!reports/index.html

# Exclude copilot instructions
.github/copilot-instructions.md